.footer__top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.policy__list {
  display: flex;
  align-items: center;
}

.company-information {
  display: flex;
  align-items: flex-start;
}

.company-information__address {
  @include font-size("12");

}


