$img-path: "~@/assets/style-core/images" !default;
$font-path: "~@/assets/style-core/fonts" !default;
@import "./style-core/scss/core-index";

$img-path: "~@/assets/style-product/images";
@import "./style-product/scss/product-index";
