// 한줄 말줄임 적용
// @include multi-text-overflow(line-height 값, 줄 수)
@mixin multi-text-overflow($line-height, $lines) {
  display:block;
  display:-webkit-box;
  overflow:hidden;
  max-height: $line-height * $lines;
  line-height :rem($line-height);
  -webkit-line-clamp:$lines;
  -webkit-box-orient:vertical;
  word-wrap:break-word;
}
